.fixed {
  position: fixed;
  width: 100%;
  text-align: center;

  &.player {
    bottom: 0;
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shadow-pulse 1s infinite;

  font-weight: 900;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.5s;

  background-color: green;
  &:hover {
    background-color: greenyellow;
    color: black;
  }
}
