@import './../../../styles/sprite-variables.scss';

.img {
  background-image: url('./../../../assets/card_sprites.png');
  background-repeat: no-repeat;
  border-radius: 8px;

  width: $card_width_init;
  height: $card_height_init;
}

.aces {
  background-position: $c1  $r1 - $card_height_slide;
}
